<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

<title>시소마켓 | 내상점</title>
  <!--[if lt IE 9]>
      <script src="js/html5.js"></script>
   <![endif]-->

<link href="../css/common.css" rel="stylesheet" type="text/css">
<link href="../css/header.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../css/myshop.css">




<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/toggle.js"></script>


</head>

<body>

<div class="bar">
    <ul>
    <li id="btn">
        <img src="../images/alarm.svg">

        <ul id="layer">
      <li><a href="#">""님이 구매하셨습니다</a></li>
      <li><a href="#">""님이 구매하셨습니다</a></li>
      <li><a href="#">""님이 구매하셨습니다</a></li>
    </ul>


        </li>
        
           <li>
            
            <a href="#"><img src="../images/redheart.svg"></a>
        </li>
        
        
        <li>
        <a href="#">TOP</a>
        </li>
    </ul>
    </div>
  <header id="header">
    <nav id="nav">
         <div id="wrap">
                <div class="login">

    <ul>
        <li><a href="#" class="sig-color">로그인</a></li>
        <li><a href="#" class="sig-color">회원가입</a></li>
        </ul>


    </div>
             <h1 id="logo"><a href="../index.html"><img src="../images/main_logo.svg"></a></h1>

        <div class="search_wrap">
        <div class="search_area">
            <input type="text" class="search" placeholder="상품명,지역명,@상점명 입력">
        <a href="#" class="search_img"><img src="../images/home_search.svg"></a>
        </div>


             </div>
             <div class="nav_right">
             <ul>
                 <li>
               <a href="write_form.html"><img src="../images/money.svg"> 판매하기
                     </a></li>
                 <li>
                 <img src="../images/shop.svg">내상점
                 </li>

                 <li>
                 <img src="../images/talk.svg">시소톡
                 </li>

                 <li id="btn2">
                 <img src="../images/hamburg.svg">카테고리

                    <ul id="layer2">
                        <li class="strong"><a href="#">전체 카테고리</a></li>


                        <li><a href="#">여성의류</a></li>
                        <li><a href="#">패션잡화</a></li>
                        <li><a href="#">남성의류</a></li>
                        <li><a href="#">디지털/가전</a></li>
                        <li><a href="#">도서/티켓/취미/반려</a></li>
                        <li><a href="#">스타굿즈</a></li>
                        <li><a href="#">생활/문구/가구/식품</a></li>
                        <li><a href="#">스포츠/레저</a></li>
                        <li><a href="#">뷰티/미용</a></li>
                        <li><a href="#">유아동/출산</a></li>
                        <li><a href="#">차량/오토바이</a></li>
                        <li><a href="#">기타</a></li>

                     </ul>


                 </li>

                 </ul>
             </div>

        </div>

      </nav>


    </header>

    <div id="wrap">
    <section id="sec1">
        <div class="myprofile">
            <div class="profileimg">
                <div size="310" class="img_box">
                    <div class="img_back">
                        <div class="back_img">
                        </div>
                    </div>
                    <div class="img_over">
                        <a href="">
                            <img src="../images/default_shop_img.svg" width="100" height="100">

                        </a>
                        <div class="pro_txt1">
                            인영이이이이
                        </div>

                        <div class="pro_txt2">
                            <a href="" class="goto">
                                상점 관리
                            </a>
                        </div>

                    </div>
                </div>


            </div>

            <div class="profiletxt">
                <div class="area1">
                    <div class="area1_txt">
                        인영이이이 <button class="update">상점명 수정</button>
                    </div>

                </div>
                <div class="area2">
                    <div class="area_2_">
                    <span style="margin-top: 3px;">상점오픈일</span><div class="data"><span class="sig-color">2549</span> 일 전</div>
                </div>
                    <div class="area_2_">
                     <span style="margin-top: 3px;">상점방문수</span><div class="data"><span class="sig-color">434456</span> 명</div>
                </div>
                    <div class="area_2_">
                     <span style="margin-top: 3px;">상품판매</span><div class="data"><span class="sig-color">0</span> 회</div>
                </div>
            

                </div>
                <div class="area3"></div>
                <div class="area4">
                    <button class="update">소개글 수정</button>

                </div>


            </div>
            

        </div>


    </section>




    <section id="sec2">

        <div id="tabs">
      <ul>
          <li class="me on"><a href="#tabs-1">상품 </a></li>
          <li class="me"><a href="#tabs-2">상점문의</a></li>
          
          <li class="me"><a href="#tabs-3">찜</a></li>
            <li class="me"><a href="#tabs-4">상점후기</a></li>


           </ul>

           <div id="tabs-1">
            <div class="product_count">
                <div>상품<span class="sig-color">6</span></div>
            </div>

            <div class="product_area">
                             <div class="content">
                <div class="content_top">
                <img src="../images/apeach.jpg" width="246" height="200">
                </div>

                <div class="content_bottom">
                <div class="con_title">
                    가나다라마바사앚차카타파하아어여요오유</div>
                    <div class="con_text">
                <div class="con_price">
                        28,000원
                        </div>
                    <div class="con_time">
                        <span>2시간전</span>
                        </div>
                    </div>
                </div>
                </div>

                <!-- content -->

                                 <div class="content">
                <div class="content_top">
                <img src="../images/apeach.jpg" width="246" height="200">
                </div>

                <div class="content_bottom">
                <div class="con_title">
                    가나다라마바사앚차카타파하아어여요오유</div>
                    <div class="con_text">
                <div class="con_price">
                        28,000원
                        </div>
                    <div class="con_time">
                        <span>2시간전</span>
                        </div>
                    </div>
                </div>
                </div>
                <!-- content -->


                                 <div class="content">
                <div class="content_top">
                <img src="../images/apeach.jpg" width="246" height="200">
                </div>

                <div class="content_bottom">
                <div class="con_title">
                    가나다라마바사앚차카타파하아어여요오유</div>
                    <div class="con_text">
                <div class="con_price">
                        28,000원
                        </div>
                    <div class="con_time">
                        <span>2시간전</span>
                        </div>
                    </div>
                </div>
                </div>
                <!-- content -->


                                 <div class="content">
                <div class="content_top">
                <img src="../images/apeach.jpg" width="246" height="200">
                </div>

                <div class="content_bottom">
                <div class="con_title">
                    가나다라마바사앚차카타파하아어여요오유</div>
                    <div class="con_text">
                <div class="con_price">
                        28,000원
                        </div>
                    <div class="con_time">
                        <span>2시간전</span>
                        </div>
                    </div>
                </div>
                </div>
                <!-- content -->


                                 <div class="content">
                <div class="content_top">
                <img src="../images/apeach.jpg" width="246" height="200">
                </div>

                <div class="content_bottom">
                <div class="con_title">
                    가나다라마바사앚차카타파하아어여요오유</div>
                    <div class="con_text">
                <div class="con_price">
                        28,000원
                        </div>
                    <div class="con_time">
                        <span>2시간전</span>
                        </div>
                    </div>
                </div>
                </div>
                <!-- content -->


                                 <div class="content">
                <div class="content_top">
                <img src="../images/apeach.jpg" width="246" height="200">
                </div>

                <div class="content_bottom">
                <div class="con_title">
                    가나다라마바사앚차카타파하아어여요오유</div>
                    <div class="con_text">
                <div class="con_price">
                        28,000원
                        </div>
                    <div class="con_time">
                        <span>2시간전</span>
                        </div>
                    </div>
                </div>
                </div>
                <!-- content -->



            </div>

           </div>






           <div id="tabs-2">
                 <p class="info2">
            상품문의
            </p>
            
            <div class="replyform">
            <form action="" method="post">
            <textarea placeholder="상품문의 입력 (100글자 내외)" name="reply"></textarea>
                
            <input type="submit" value="등록">
            </form>
            </div>
            
            <div class="replyArea">
            <a href=""><img src="../images/symbol.svg" width="48" height="48"></a>
             
            <div class="replyText">
                <div class="set">
                <div class="txt1">
                시소알림센터
                </div>
                
                <div class="txt1-2">0초전</div>
                </div>
                
                <div class="txt2">[공지글] 이 상품은 청소년 보호법으로 제재되었습니다.</div>
                
                
                <div class="txt3">
                    댓글달기
                <div class="report">
                    <img src="../images/siren.svg" width="14" height="14"><span class="report_txt">신고하기</span>
                    </div>
                </div>
                
                </div>    
            
            </div>
           </div>
           <div id="tabs-3">
               <div class="like_title">
                <div class="like_count">
                    찜<span class="sig-color">6</span>
                </div>
               </div>

               <div class="like_list">
                <div class="like_box">
                    <a href="" class="like_content">
                        <div class="lc1">
                            <img src="../images/menu.svg" width="24" height="24" id="delete_like">
                        </div>

                        <div class="lc2">
                            <img src="../images/apeach.jpg" width="138">
                            <div class="over_img">배송비포함</div>
                            <div class="absol"></div>

                        </div>
                        <div class="lc3">
                            <div class="like_pro_info1">
                                <div class="info1_1">
                                    곰돌이
                                </div>
                                <div class="info1_2">
                                    <div class="info1_2_data">
                                        108,000
                                    </div>
                                </div>
                                <div class="info1_3">
                                    3주전
                                </div>

                            </div>
                             <div class="like_pro_info2">
                                 <img src="../images/location.svg" width="15" height="17">
                                 부산광역시 부산진구

                             </div>


                        </div>

                    </a>

                </div>

<div class="like_box">
                    <a href="" class="like_content">
                        <div class="lc1">
                            <img src="../images/menu.svg" width="24" height="24" id="delete_like">
                        </div>

                        <div class="lc2">
                            <img src="../images/apeach.jpg" width="138">
                            <div class="over_img">배송비포함</div>
                            <div class="absol"></div>

                        </div>
                        <div class="lc3">
                            <div class="like_pro_info1">
                                <div class="info1_1">
                                    곰돌이
                                </div>
                                <div class="info1_2">
                                    <div class="info1_2_data">
                                        108,000
                                    </div>
                                </div>
                                <div class="info1_3">
                                    3주전
                                </div>

                            </div>
                             <div class="like_pro_info2">
                                 <img src="../images/location.svg" width="15" height="17">
                                 부산광역시 부산진구

                             </div>


                        </div>

                    </a>

                </div>



               </div>

           </div>








           <div id="tabs-4">
               <div class="review_title">
                <div class="title_txt">
                    상점후기<span class="sig-color">1</span>
                </div>
               </div>


               <div class="review_content">
                <div class="review_box">
                <a href="" class="review_img">
                    <img src="../images/default_shop_img.svg" width="60" height="60">
                    </a>
                    
                    
                    <div class="review_txt">
                        <div class="rv_txt1">
                        <div class="rv_title">
                            상점명
                            </div>
                            <a class="rv_star">
                            <div class="star_img">
                                <img src="../images/star.svg" width="15" height="14">
                                 <img src="../images/star.svg" width="15" height="14">
                                 <img src="../images/star.svg" width="15" height="14">
                                </div>
                            </a>
                        </div>
                        
                        <div class="rv_txt2">
                        후기후기후기후기후기후기후기후기
                        </div>
                        
                        <div class="rv_txt3">
                            <a href="" class="report">
                            <img src="../images/siren.svg" width="14" height="14">
                                신고하기
                            </a>
                        
                        </div>
                        
                    </div>
                    
                </div>


               </div>


           </div>




           </div>





    </section>
</div>


<script type="text/javascript">
     $( function() { 
     $( "#tabs" ).tabs(); 
   
     $('.me').click(function(){
         $('.me').removeClass('on');
         $(this).addClass('on');
     });
 });

</script>

</body>
</html>